<div>
  <form class="form">
    <div class="form-group">
      <label for="type">Atributo:</label>
      <select
        class="form-control-select"
        [(ngModel)]="selectedType"
        (ngModelChange)="valueDataChange($event)"
        name="type"
        minlength="1"
        required
      >
        <option *ngFor="let item of optionsChart" [value]="item.value">
          {{ item.label }}
        </option>
      </select>
    </div>
  </form>
  <div class="container-chart">
    <div>
      <highcharts-chart
        style="display: block; margin: auto"
        [Highcharts]="Highcharts"
        [options]="pieChartOptions"
      >
      </highcharts-chart>
    </div>
  </div>
</div>
